# AWS Configuration
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=ap-south-1

# Qualys Configuration
QUALYS_API_URL=https://qualysapi.qg2.apps.qualys.com
QUALYS_USERNAME=your_username
QUALYS_PASSWORD=your_password

# Infrastructure IDs
SECURITY_GROUP_ID=sg-xxxxxxxxx
SUBNET_ID=subnet-xxxxxxxxx
REPORT_BUCKET=your-security-reports-bucket
SNS_TOPIC_ARN=arn:aws:sns:ap-south-1:xxxxxxxx:ami-pipeline-topic

# IAM Role
PACKER_IAM_ROLE=packer-ami-builder